# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Streamlit artifacts
data/
models/
*.mp4
*.json

# OS junk
.DS_Store
venv/
__pycache__/
*.so
*.dylib

key
*.env
*.key
*.json
*.txt

data/*.mp4
data/*.mpy